*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


label{
    font-weight: bold;
}

form{
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    width: 65vw;
    gap: 1vh;
}

body{
    background-color: #005323;;
    background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
}

#tudo{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    justify-content: center;
    margin-top: 1vw ;
    margin-bottom: 1vw ;
    border-radius: 3%;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    width: 70vw;
}

#header{
    display: flex;
    align-items: center;
    width: 70vw;
    justify-content: space-around;
}

#sapo{
    height: 30vh;
    width: auto;
    align-self: flex-start;
    border-radius: 10%;
    margin-top: 1vh;
    justify-self: left;
}

#buttons{
    width: 100%;
    display: flex;
    justify-content: right;
    gap: 1vw;
    margin-right: 5vw;
}

#lista {
    margin-top: 20px;
    width: 70vw;
    display: flex;
    justify-items: center;
    justify-self: center;
    flex-wrap: wrap;

}

.divAtendimento {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 100%;
}
.divUrgencia {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 33.3%;
}
.divEspera {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 33.3%;
}


.pacienteAtendimento {
    background-color: #d1e7dd;
    color: #0f5132;
    font-weight: bold;
}

.pacienteUrgencia {
    background-color: #f8d7da;
    color: #842029;
}

.pacienteEspera {
    background-color: #fff3cd;
    color: #4b3800;
}

.imgLista {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid #636363;
}


.pacienteAtendimento{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
}

.pacienteUrgencia{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
} 

.pacienteEspera {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
}

